/**** TABLE OF CONTENTS ****

00. VARIABLES
0. ACCESSIBILTY TOOLBAR STYLES
1. PRELOADER STYLES
2. GENERAL STYLES
3. HEADER STYLES
  3a. Header Option One Styles
  3b. Header Option Two Styles
  3c. Header Option Three Styles
  3d. Header Option Four Styles
  3e. Mobile Off-Canvas Menu Styles
  3f. Mobile Top Bar Menu Styles
  3g. Sticky Header Styles
  3h. Header Overrides

4. HOME PAGE STYLES

5. INTERNAL PAGE STYLES
  5a. Breadcrumbs Styles
  5b. Page Title and Title Bar Styles
  5c. Default Page Template Styles
  5d. Full Width Page Template Styles
  5e. Post Navigation Footer Styles
  5f. Left Sidebar Page Template Styles
  5g. Sidebar Styles
  5h. Social Sharing Shortcode Styles
  5i. Gallery Shortcode Styles
  5j. Pagination Styles
  5k. Gravity Form Styles

6. BLOG PAGE AND SINGLE BLOG POST STYLES
  6a. Blog Loop Shortcode Styles
  6b. Comments Section Styles

7. PORTFOLIO STYLES

8. SERVICES STYLES

9. STAFF STYLES

10. 404 PAGE STYLES

11. FOOTER STYLES

** END TABLE OF CONTENTS **/


/**** 00. VARIABLES ****/
@import "global/bs-variables";

/**** 0. ACCESSIBILTY TOOLBAR STYLES ****/
@import "global/bs-a11y";

/**** 1. PRELOADER STYLES ****/
@import "global/preloader";

/**** 2. GENERAL STYLES ****/
@import "global/general-styles";

/**** 3. HEADER STYLES ****/
@import "global/header";

@media #{$break639} {
  .title-bar {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
  }
}
/* 3a. Header Option One Styles */
@import "global/header-one";

/* 3b. Header Option Two Styles */
@import "global/header-two";

/* 3c. Header Option Three Styles */
@import "global/header-three";

/* 3d. Header Option Four Styles */
@import "global/header-four";

/* 3e. Mobile Off-Canvas Menu Styles */
@import "global/off-canvas";

/* 3f. Mobile Top Bar Menu Styles */
@import "global/menu-top-bar";

/* 3g. Sticky Header Styles */
@import "global/sticky-header";

/* 3h. Header Overrides */
.top-bar {

  .top-bar-social {

    li.custom-button {

      a {
        align-items: center;
        font-family: $fontstack;
        font-size: rem-calc(15) !important;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
      }
    }
    li.custom-button.top-bar-my-cart {

      i {
        display: inline;
        font-size: rem-calc(18);
        margin-right: rem-calc(2);
      }
      span.cart-contents {
        background: $white;
        border-radius: 100%;
        color: $blue;
        display: inline-block;
        line-height: rem-calc(20);
        height: rem-calc(20);
        margin: 0 0 0 rem-calc(5);
        min-width: rem-calc(20);
      }
    }
  }
  ul.social-media-wrapper {

    .menu-search-wrapper {
      border-left: 0 !important;
    }
  }
}
body.topbar .menu-icon,
body.offcanvas .menu-icon {

  &:before {
    background: none !important;
    box-shadow: 0 rem-calc(7) 0 inherit;
    content: '';
    display: block;
    left: 0;
    height: rem-calc(2);
    position: absolute;
    top: 0;
    width: 100%;
    @include transition(all);
  }
  &:after {
    box-shadow: 0 rem-calc(14) 0 inherit;
    @include transition(all);
  }
  &.active:before {
    background: none !important;
    left: rem-calc(6);
    top: 0;
    transform: rotate(45deg);
  }
  &.active:after,
  &.active:hover:after {
    background: none !important;
    box-shadow: 0 rem-calc(14) 0 inherit !important;
    left: rem-calc(-9);
    top: rem-calc(-5);
    transform: rotate(-45deg);
  }
}


/**** 4. HOME PAGE STYLES ****/
.home-hero-wrapper {
  padding-top: rem-calc(150);
  padding-bottom: rem-calc(150);
  @media #{$break1024} {
    padding-top: rem-calc(120);
    padding-bottom: rem-calc(120);
  }
  @media #{$break767} {
    padding-top: rem-calc(80);
    padding-bottom: rem-calc(80);
  }
  @media #{$break480} {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
  }
  .home-hero-caption {
    background: rgba(255,255,255,.5);
    margin-left: auto;
    margin-right: auto;
    max-width: rem-calc(800);
    padding: rem-calc(30) rem-calc(20);
    width: 100%;

    h2, h3 {
      color: $blue;
      text-align: center;
    }
    h6 {
      font-size: rem-calc(12);
      text-align: center;
      margin-top: rem-calc(20);
      margin-bottom: rem-calc(20);
    }
    p {
      text-align: center;
    }
  }
}
.home .main-wrap.full-width {
  margin-top: 0;
  max-width: 100%;

  .main-content {
    margin: 0 !important;
    width: 100% !important;
  }
}
@media #{$break640} {
  .home .main-wrap .main-content {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .main-wrap {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


/**** 5. INTERNAL PAGE STYLES ****/
/* 5a. Breadcrumbs Styles */
.breadcrumbs-wrapper {
  padding: 0 rem-calc(15);

  #breadcrumbs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(16) 0;

    li {
      float: none;
      font-family: $fontstack !important;
      font-size: rem-calc(14);
      font-weight: 700;
      text-transform: none;

      &:after {
        display: none;
      }
      a {
        font-family: $fontstack !important;
        font-size: rem-calc(14);
        font-weight: 700;
      }
    }
    li.separator {
      font-size: rem-calc(14);
      font-weight: 700;
      margin: 0 rem-calc(10);
    }
  }
}

/* 5b. Page Title and Title Bar Styles */
h1.entry-title {
  font-size: $maintitle;
  position: relative;
  z-index: 10;
  @media #{$break640} {
    font-size: $maintitle639;
  }
}
.featured-hero-title-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem-calc(10) rem-calc(15);
  position: relative;

  &:before {
    background: rgba(0,0,0,.35);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  h1.entry-title {
    text-align: center;
    text-shadow: 0 rem-calc(2) rem-calc(1) $black;
  }
  time, p.byline.author, p.bs-post-date, p.bs-post-cats, p.bs-post-comments, p.search-query, ul li, span {
    margin-bottom: 0;
    position: relative;
    text-shadow: 0 rem-calc(2) rem-calc(1) $black;
    z-index: 10;
  }
  ul {
    display: block;
    list-style: none;
    margin-bottom: 0;
    margin-left: rem-calc(-12);
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      padding: 0 0 0 rem-calc(12);
    }
  }
  .blog-meta {

    p.bs-post-date {
      order: 1;
    }
    p.byline.author {
      order: 2;

      a {
        font-weight: 700;
      }
    }
    p.bs-post-cats {
      order: 3;

      a {
        font-weight: 700;
      }
    }
    p.bs-post-comments {
      order: 4;
    }
  }
}

/* 5c. Default Page Template Styles */
.main-wrap {

  .main-content {

    a {
      text-decoration: underline;
    }
    @media #{$break767} {
      order: 1 !important;
      width: calc(100% - 1.875rem) !important;
    }
  }
}
body:not(.home) .main-wrap {
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(40);
}

/* 5d. Full Width Page Template Styles */
.main-wrap.full-width {
  width: 100%;

  .main-content {
    margin-left: rem-calc(15) !important;
    margin-right: rem-calc(15) !important;
    width: 100%;
  }
}

/* 5e. Post Navigation Footer Styles */
footer {

  &.portfolio-navigation {

    nav.navigation.post-navigation {
      padding: 0 rem-calc(15);
    }
  }
  nav.navigation.post-navigation {
    margin: rem-calc(32) auto 0;
    max-width: rem-calc(1200);
  }
}

/* 5f. Left Sidebar Page Template Styles */

/* 5g. Sidebar Styles */
aside.sidebar {
  background: $ltgray;
  padding: rem-calc(25);
  // @media #{$break951} {
  //   width: 12.5rem !important;
  // }
  @media #{$break767} {
    order: 2 !important;
    width: calc(100% - 1.875rem) !important;
  }
  &.portfolio-sidebar {
    background: none;
    padding: 0;

    img.wp-post-image {
      margin-bottom: 0;
    }
  }
  .widget {
    margin-bottom: rem-calc(30);

    &:last-of-type {
      margin-bottom: 0;
    }
    h6 {
      //display: none;
      border-bottom: rem-calc(2) solid $blue;
      font-size: rem-calc(18) !important;
      margin-bottom: rem-calc(10);
      padding-bottom: rem-calc(10);
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      margin: 0;

      & > li {
        margin-bottom: rem-calc(10);
        position: relative;
      }
      & > li > a {
        color: $green;
        display: inline-block;
        font-size: rem-calc(18) !important;
        font-weight: 700;
        vertical-align: middle;
      }
      & > li:last-child > a {
        margin-bottom: 0;
      }
    }
  }
  li.recentcomments {
    align-items: flex-end;
    display: inline-flex;
    flex-wrap: wrap;

    span.comment-author-link {
      display: inline-block;
      line-height: 1.8;
      margin-right: rem-calc(4);
    }
    a {
      margin-left: rem-calc(4);
    }
  }
}

/* 5h. Social Sharing Shortcode Styles */
@import "global/social-share";

/* 5i. Gallery Shortcode Styles */
@import "global/gallery-shortcode";

/* 5j. Pagination Styles */
ul.pagination {
  border-top: rem-calc(2) solid $blue;
  margin-top: rem-calc(20);
  padding-top: rem-calc(15);
  text-align: center;
  width: 100%;

  @media #{$break800} {
    margin-left: rem-calc(15);
  }
  li, li span, li a {
    display: inline-block;
    font-size: rem-calc(16);
    font-weight: 700;
    height: rem-calc(30);
    line-height: rem-calc(30);
    padding: 0 !important;
    text-align: center;
    width: rem-calc(30);
  }
  li span.current {
    background: $red;
    color: $white !important;
  }
  li a {
    text-decoration: none !important;
    transition: all .2s ease-out !important;

    &:hover, &:focus {
      background: $blue;
      color: $white !important;
    }
  }
}

/* 5k. Gravity Form Styles */
.main-content > .entry-content > .gform_wrapper {
  margin-top: 0 !important;
}
.gform_wrapper {

  form {

    .gform_body {
      @media only screen and (min-width: 641px) {
        width: calc(100% + 1rem);
      }

      li.gfield {
        margin-top: 0;

        // &:first-child {
        //   margin-top: 0;
        // }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), select, textarea {
          border: rem-calc(1) solid $blue !important;
          border-radius: rem-calc(3) !important;
          box-shadow: none;
          min-height: rem-calc(45);
        }
        .ginput_container {
          margin-top: 0 !important;

          input, select, textarea {
            margin-bottom: rem-calc(20) !important;
          }
        }
        .ginput_complex {
          display: flex;
          flex-wrap: wrap;
          margin-left: rem-calc(-16);
          margin-right: 0;
          width: calc(100% + 1rem) !important;

          .ginput_full, .ginput_left, .ginput_right, .name_first, .name_last {
            display: flex;
            position: relative;
            padding-left: rem-calc(16);
            padding-right: 0;

            input, select, textarea {
              margin-bottom: rem-calc(20) !important;
              margin-left: 0 !important;

              & + label {
                color: $almostblack;
                font-style: italic;
                font-weight: 700;
                line-height: 1.2;
                // margin-bottom: rem-calc(20);
                margin: 0 0 0 rem-calc(1);
                position: absolute;
                top: calc(100% - 1.25rem);
                transform: translateY(-100%);
              }
            }
            &.has-label-below {

              input, select, textarea {
                margin-bottom: rem-calc(35) !important;
              }
            }
          }
          .ginput_full {
            width: 100%;
          }
          .ginput_left, .ginput_right, .name_first, .name_last {
            float: none;
            margin-right: 0;
            width: 50%;
            @media #{$break640} {
              width: 100%;
            }
          }
        }
        .ginput_container_address_label {
          background: $ltgray;
          display: block;
          padding: rem-calc(16) rem-calc(16) 0 rem-calc(16);
          width: 100%;
        }
        .ginput_complex.ginput_container_address {
          background: $ltgray;
          // margin-left: rem-calc(-16);
          margin-left: 0;
          margin-bottom: rem-calc(20);
          padding: rem-calc(4) rem-calc(16) rem-calc(5) 0;
          // width: calc(100% + 1rem);
          width: 100% !important;

          .ginput_full, .ginput_left, .ginput_right {
            margin: 0;
            padding: 0 0 0 rem-calc(16) !important;

            input, select {
              margin-bottom: rem-calc(25) !important;

              & + label {
                top: calc(100% - 0.625rem);
              }
            }
            select {
              margin-top: 0;
            }
          }
          .ginput_left.address_zip {

          }
          .ginput_right + .ginput_left {
            margin-right: 0;
          }
        }
      }
    }
    .gform_footer {
      margin: rem-calc(30) 0 0 0;
      padding: 0;

      input.gform_button {
        font-family: $fontstack;
        margin-right: 0;
        padding: rem-calc(10) rem-calc(15);
      }
    }
  }
}


/**** 6. BLOG PAGE AND SINGLE BLOG POST STYLES ****/
.single-post, .blog, .search-results, .single-service, .archive, .tag, .single-staff {

  .main-wrap {
    margin-bottom: rem-calc(40);

    .main-content {

      .bs-entry-meta {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem-calc(32);

        p {
          border-right: rem-calc(2) solid $blue;
          margin: 0 rem-calc(10) 0 0;
          padding: 0 rem-calc(10) 0 0;

          &:last-of-type {
            border-right: 0;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    &.no-sidebar {
      display: flex;
      justify-content: center;

      article.main-content {
        max-width: rem-calc(800);
        width: 100%;
      }
    }
    &.blog-sidebar-left, &.single-sidebar-left {
      display: flex;

      .main-content {
        order: 2;
      }
      aside.sidebar {
        order: 1;
      }
    }
    &.blog-full-width.no-sidebar, &.single-full-width.no-sidebar {

      article.main-content {
        max-width: 100%;
      }
    }
  }
  .about-the-author-wrap {
    display: flex;
    margin: rem-calc(32) 0;
    padding: rem-calc(15);

    .author-image {
      border-radius: 100%;
      margin-right: rem-calc(10);
      height: rem-calc(80);
      overflow: hidden;
      width: rem-calc(80);

      img {
        height: auto;
        width: 100%;
      }
    }
    .author-description {
      width: calc(100% - 5.625rem);

      p:last-of-type {
        margin-bottom: 0;
      }
      p strong {
        font-size: 115%;
      }
      &.no-avatar {
        width: 100%;
      }
    }
  }
}

/* 6a. Blog Loop Shortcode Styles */
.bs-blog-loop {

  .bs-post-title {
    margin-bottom: rem-calc(10);

    h3 {

      a {
        display: inline-block;
      }
    }
  }
  .blog-meta {
    display: flex;
    flex-direction: column;
    margin-bottom: rem-calc(10);

    p {
      margin-bottom: rem-calc(5);

      a {
        display: inline-block;
      }
      i {
        display: inline-block;
        font-size: rem-calc(20);
        line-height: rem-calc(24);
        margin-right: rem-calc(3);
        min-height: rem-calc(24);
        text-align: center;
        width: rem-calc(24);
      }
      &.bs-post-date {
        order: 1;
      }
      &.bs-post-byline {
        order: 2;

        span.avatar {

          img {
            height: auto;
            margin-right: rem-calc(3);
            mix-blend-mode: multiply;
            width: rem-calc(24);
          }
        }
      }
      &.bs-post-cats {
        order: 3;
      }
      &.bs-post-comments {
        order: 4;
      }
    }
  }
  .blog-footer {

    a {
      font-size: rem-calc(14);
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
    }
  }
  &.bs-blog-loop-list {

    article.bs-single-post {
      border-bottom: rem-calc(1) solid $blue;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem-calc(25);
      padding-bottom: rem-calc(20);

      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .blog-featured-image {
        order: 2;
        width: rem-calc(300);
        @media #{$break640} {
          margin-bottom: rem-calc(10);
          order: 1;
          width: 100%;
        }
      }
      .entry-content {
        order: 1;
        padding-right: rem-calc(20);
        width: calc(100% - 18.75rem);
        @media #{$break640} {
          order: 2;
          padding-right: 0;
          width: 100%;
        }
      }
      .blog-footer {

        a {
          font-weight: 700;
        }
      }
    }
  }
  &.bs-blog-loop-grid,
  &.bs-blog-loop-carousel {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem-calc(-30);
    margin-bottom: rem-calc(-45) !important;

    article.bs-single-post {
      margin-bottom: rem-calc(45);
      margin-left: rem-calc(30);
      @include transition(box-shadow);

      @media #{$break600} {
        width: calc(100% - 1.875rem);
      }

      .blog-featured-image {
        background: $blue;
        border: rem-calc(2) solid $blue;
        border-bottom: 0;

        figure, a {
          display: block;
          overflow: hidden;
          width: 100%;

          img {
            display: block;
            @include transition(transform);
          }
        }
      }
      .blog-meta {

        .bs-entry-meta {
          flex-wrap: wrap;
          margin-bottom: 0;

          p {
            border: 0;
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }
      }
      .entry-content {
        background: #e1e1e1;
        border: rem-calc(2) solid $blue;
        border-top: 0;
        border-bottom: 0;
        padding: rem-calc(15);
      }
      .bs-post-excerpt {
        margin-bottom: rem-calc(15);
      }
      .blog-footer {
        margin-bottom: rem-calc(-15);
        margin-left: rem-calc(-15);
        margin-right: rem-calc(-15);
        width: calc(100% + 1.875rem);

        a {
          background: $blue;
          color: white;
          display: block;
          font-weight: 700;
          padding: rem-calc(15);
          text-decoration: none;
          @include transition(background);

          &:hover, &:focus {
            background: $red;
          }
        }
      }
      &:hover, &:focus {
        box-shadow: 0 rem-calc(20) rem-calc(60) rgba(0,0,80,.45);

        .blog-featured-image {

          figure, a {

            img {
              transform: scale(1.1) rotate(3deg);
            }
          }
        }
      }
    }
    &.grid-2-cols {

      article.bs-single-post {
        width: calc(50% - 1.875rem);

        @media #{$break600} {
          width: calc(100% - 1.875rem);
        }
      }
    }
    &.grid-3-cols {

      article.bs-single-post {
        width: calc(33.3333% - 1.875rem);

        @media #{$break767} {
          width: calc(50% - 1.875rem);
        }
        @media #{$break600} {
          width: calc(100% - 1.875rem);
        }
      }
    }
    &.grid-4-cols {

      article.bs-single-post {
        width: calc(25% - 1.875rem);

        @media #{$break1024} {
          width: calc(50% - 1.875rem);
        }
        @media #{$break600} {
          width: calc(100% - 1.875rem);
        }
      }
    }
    nav.custom-pagination {
      margin-left: rem-calc(30);
    }
  }
  &.bs-blog-loop-carousel {

    article.bs-single-post {
      box-shadow: none !important;
    }
    .slick-list {
      width: 100%;
    }
    ul.slick-dots {
      margin-bottom: rem-calc(35);
      margin-left: rem-calc(30);
      margin-top: rem-calc(-30);
      position: relative;
      width: calc(100% - 1.875rem);
      z-index: 99;

      li:only-child {
        display: none;
      }
    }
  }
  nav.custom-pagination {
    border-top: rem-calc(2) solid $blue;
    margin-top: rem-calc(20);
    padding-top: rem-calc(15);
    text-align: center;
    width: 100%;

    @media #{$break800} {
      margin-left: rem-calc(15);
    }
    .page-numbers {
      display: inline-block;
      font-weight: 700;
      height: rem-calc(30);
      line-height: rem-calc(30);
      text-align: center;
      text-decoration: none;
      width: rem-calc(30);
    }
    span.page-numbers.page-num {
      font-weight: 700;
      width: auto;
    }
    span.pipe-separator {
      font-size: rem-calc(20);
      margin: 0 rem-calc(7);
    }
    span.page-numbers.current {
      background: $red;
      color: $white !important;
    }
    a.page-numbers {
      // background: $red;
      // color: white;
      @include transition(all);

      &:hover, &:focus {
        background: $blue;
        color: $white;
      }
    }
  }
}


/* 6b. Comments Section Styles */
section#comments {
  background: $ltgray;
  margin: rem-calc(32) 0 0 0;
  padding: rem-calc(15);

  ol.comment-list {
    list-style: none;
    margin: 0;

    & > li {
      border-left: rem-calc(2) solid $blue;
      margin-bottom: rem-calc(40);
      padding-left: rem-calc(10);

      &:last-child {
        margin-bottom: 0;
      }
      p:last-of-type {
        margin-bottom: 0;
      }
    }
    header.comment-author {
      align-items: flex-start;
      display: flex;

      img {
        margin-right: rem-calc(10);
      }
      time {
        display: block;
        font-size: rem-calc(12);
        line-height: 1;
      }
      cite {
        color: $black;
        font-size: rem-calc(14);
      }
    }
    ul.children {
      list-style: none;
      margin: rem-calc(15) 0 0 0;

      li {
        border-left: rem-calc(2) solid $blue;
        padding-bottom: rem-calc(20);
        padding-left: rem-calc(10);

        &:last-child {
          padding-bottom: 0;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    a.comment-reply-link {
      display: block;
      font-weight: 700;
      font-size: rem-calc(14);
    }
  }
}
section#respond {
  background: $ltgray;
  margin: rem-calc(32) 0 0 0;
  padding: rem-calc(15);

  p:last-of-type {
    margin: 0;
  }
  form#commentform {

    input[type="text"], textarea {
      border: rem-calc(1) solid $blue;
      border-radius: rem-calc(3);
      box-shadow: none;
      min-height: rem-calc(45);
    }
    input.button {
      font-size: rem-calc(16);
      padding: rem-calc(10);
    }
    label {
      font-weight: 700;
    }
  }
}


/**** 7. PORTFOLIO STYLES ****/
@import "global/bs-portfolio";


/**** 8. SERVICES STYLES ****/
@import "global/bs-services";


/**** 9. STAFF STYLES ****/
@import "global/bs-staff";


/**** 10. 404 PAGE STYLES ****/
.error404 {

  .main-wrap.no-sidebar {
    display: flex;
    justify-content: center;

    article.main-content {
      max-width: rem-calc(800);
      width: 100%;
    }
  }
}


/**** 11. FOOTER STYLES ****/
footer.footer {

  .widget {
    padding: 0 rem-calc(15);
    @media #{$break640} {
      margin-bottom: rem-calc(40);
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
  h6 {
    font-size: rem-calc(24) !important;
    margin-bottom: rem-calc(5) !important;
    text-align: left;
  }
  ul.menu {
    flex-direction: column;

    li {
      display: block;
      padding: 0;

      a {
        padding: 0;
        display: block;
        line-height: 1.6;
        text-transform: capitalize;
        @include transition(color);
      }
      &.is-active a {
        background: none;
        color: inherit;
      }
    }
  }
}
