/* Single Staff Item Styles */
.single-staff {

  .main-content {

    .staff-featured-image {
      margin-top: rem-calc(5);
      max-width: rem-calc(330);
      width: 100%;
    }
    ul.staff-category {
      list-style: none;
      margin: 0 0 rem-calc(15) 0;
      text-align: left;

      li {
        display: inline-block;
        padding-right: rem-calc(4);

        &.cat-name {
          padding-right: rem-calc(6);
        }
        &.cat-name:after {
          content: ',';
        }
        &.cat-name:last-child:after {
          content: '';
        }
      }
    }
  }
}
/* Staff Shortcode Styles */
.staffs-wrapper {

  .staff-filter-toggle {
    display: none;
    margin-bottom: rem-calc(15);

    @media #{$break767} {
      display: block;
    }

    a {
      background: $blue;
      color: $white;
      display: inline-block;
      font-weight: 700;
      padding: rem-calc(10);
      text-decoration: none;
    }
  }
  ul#filters, ul[id*="filters-"] {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 0 rem-calc(20) rem-calc(-15);
    width: 100%;
    @include transition(opacity);

    @media #{$break767} {
      display: none;
      margin: 0 0 rem-calc(20) 0;
    }

    li {
      padding-left: rem-calc(15);

      @media #{$break767} {
        margin-bottom: rem-calc(2);
        padding-left: 0;
      }

      a {
        background: $blue;
        color: $white;
        display: block;
        font-weight: 700;
        padding: rem-calc(6) rem-calc(15);
        text-align: center;
        text-decoration: none;

        &.active, &:hover, &:focus {
          background: $red;
        }
      }
    }
  }
  .single-staff-item {

    .staff-thumbnail {

      a {
        display: block;
        overflow: hidden;

        img {
          @include transition(all);
        }
      }
    }
    &:hover, &:focus {

      .staff-thumbnail {

        a {

          img {
            transform: scale(1.1) rotate(3deg);
          }
        }
      }
    }
  }
  &.staffs-display-grid {

    &.grid-cols-1 {

      .single-staff-item {
        width: 100%;
      }
    }
    &.grid-cols-2 {

      .single-staff-item {
        width: 50%;

        @media #{$break400} {
          width: 100%;
        }
      }
    }
    &.grid-cols-3 {

      .single-staff-item {
        width: 33.3333%;

        @media #{$break767} {
          width: 50%;
        }
        @media #{$break400} {
          width: 100%;
        }
      }
    }
    &.grid-cols-4 {

      .single-staff-item {
        width: 25%;

        @media #{$break767} {
          width: 33.3333%;
        }
        @media #{$break600} {
          width: 50%;
        }
        @media #{$break400} {
          width: 100%;
        }
      }
    }
  }
  &.staffs-display-grid {

    .staffs-container {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 rem-calc(-15) rem-calc(-15);
      @include transition(height);

      .single-staff-item {
        padding-bottom: rem-calc(15);
        padding-left: rem-calc(15);

        section.staff-content {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          flex-direction: column;
          overflow: hidden;

          &:before {
            background: rgba(0,0,0,.45);
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            width: 100%;
            z-index: 1;
            @include transition(all);
          }
          h4.staff-title {
            //bottom: 100%;
            color: $white !important;
            line-height: 1.2;
            opacity: 0;
            padding: rem-calc(5);
            position: absolute;
            text-align: center;
            text-shadow: 0 rem-calc(2) 0 $black;
            transform: translateY(-100%);
            top: 50%;
            width: 100%;
            z-index: 10;
            @include transition(all);
          }
          p.staff-position {
            margin-bottom: 0;
          }
          ul.staff-category {
            //bottom: rem-calc(10);
            bottom: 50%;
            line-height: 1.2;
            list-style: none;
            margin: 0;
            opacity: 0;
            padding: 0 rem-calc(5);
            position: absolute;
            text-align: center;
            transform: translateY(100%);
            width: 100%;
            z-index: 10;
            @include transition(all);

            li {
              color: $white !important;
              display: inline-block;
              font-style: italic;
              font-weight: 700;
              line-height: 1.2;
              text-shadow: 0 rem-calc(2) 0 $black;
            }
          }
          img.staff-thumbnail {
            display: block;
            width: 100%;
            height: auto;
          }
          &:hover, &:focus {

            &:before {
              opacity: 1;
              visibility: visible;
            }
            h4.staff-title {
              //bottom: auto;
              opacity: 1;
              //top: rem-calc(10);
            }
            ul.staff-category {
              //bottom: rem-calc(10);
              opacity: 1;
              //top: auto;
            }
          }
        }
      }
    }
  }
  &.staffs-display-list {

    .single-staff-item {
      border-bottom: rem-calc(1) solid $blue;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem-calc(25);
      padding-bottom: rem-calc(25);

      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .staff-thumbnail {
        order: 2;
        width: rem-calc(300);
        @media #{$break640} {
          margin-bottom: rem-calc(10);
          order: 1;
          width: 100%;
        }

        img {
          margin-bottom: 0;
          width: 100%;
        }
      }
      .staff-content {
        order: 1;
        padding-right: rem-calc(20);
        width: calc(100% - 18.75rem);
        @media #{$break640} {
          order: 2;
          padding-right: 0;
          width: 100%;
        }

        p.staff-meta {
          margin-bottom: 0;

          i {
            padding-right: rem-calc(6);
            width: rem-calc(20);
          }
        }
        ul.staff-category {
          display: inline-block;
          list-style: none;
          margin: 0 0 rem-calc(10) 0;
          text-align: left;
          width: 100%;

          li {
            display: inline-block;
            padding-right: rem-calc(6);
            width: rem-calc(23);
          }
          li.cat-name {
            width: auto;

            &:after {
              content: ',';
            }
            &:last-of-type:after {
              content: '';
            }
          }
        }
        .staff-read-more {
          font-weight: 700;
        }
      }
    }
  }
}
