$fontstack: 'Open Sans', Arial, Helvetica, sans-serif;
$red: #b01f23;
$orange: #b65b24;
$blue: #003a71;
$bluealpha: rgba(0,58,113,0.85);
$ltblue: #1e73be;
$white: #FFFFFF;
$black: #000000;
$almostblack: #333333;
$green: #008000;
$ltgreen: #44a044;
$gray: #666666;
$ltgray: #f2f2f2;
$gold: #b99c00;
$ltyellow: #fef3a1;

$boxshadow: rem-calc(2) rem-calc(2) rem-calc(5) rgba(0,0,0,.5);

// Social Media Colors
$facebook: #3b5998;
$twitter: #00aced;
$googleplus: #dd4b39;
$linkedin: #007bb6;
$pinterest: #cb2027;

// Breakpoint variables
$break1600: "only screen and (max-width: 100em)";
$break1400: "only screen and (max-width: 87.5em)";
$break1200: "only screen and (max-width: 75em)";
$break1024: "only screen and (max-width: 64em)";
$minbreak1025: "only screen and (min-width: 64.0625em)";
$break972: "only screen and (max-width: 60.75em)";
$break951: "only screen and (max-width: 59.4375em)";
$break900: "only screen and (max-width: 56.25em)";
$break800: "only screen and (max-width: 50em)";
$break768: "only screen and (max-width: 48em)";
$break767: "only screen and (max-width: 47.9375em)";
$break640: "only screen and (max-width: 40em)";
$break639: "only screen and (max-width: 39.9375em)";
$break600: "only screen and (max-width: 37.5em)";
$break480: "only screen and (max-width: 30em)";
$break400: "only screen and (max-width: 25em)";
$break375: "only screen and (max-width: 23.4375em)";

// Font size variables
$cta: 2.5rem !important;
$cta639: 1.75rem !important;
$maintitle: 2.5rem !important;
$maintitle639: 2rem !important;
$h1: 2.5rem !important;
$h2: 2rem !important;
$h3: 1.5rem !important;
$h4: 1.25rem !important;
$h5: 1.125rem !important;
$h6: 1.0625rem !important;
$bodycopy: 1rem !important;

@mixin transition($attr) {
  -webkit-transition: $attr .2s ease-out;
     -moz-transition: $attr .2s ease-out;
      -ms-transition: $attr .2s ease-out;
          transition: $attr .2s ease-out;
}
