section#comments {
  background: $ltgray;
  margin: rem-calc(32) 0 0 0;
  padding: rem-calc(15);

  ol.comment-list {
    list-style: none;
    margin: 0;

    & > li {
      border-left: rem-calc(2) solid $blue;
      margin-bottom: rem-calc(40);
      padding-left: rem-calc(10);

      &:last-child {
        margin-bottom: 0;
      }
      p:last-of-type {
        margin-bottom: 0;
      }
    }
    header.comment-author {
      align-items: flex-start;
      display: flex;

      img {
        margin-right: rem-calc(10);
      }
      time {
        display: block;
        font-size: rem-calc(12);
        line-height: 1;
      }
      cite {
        color: $black;
        font-size: rem-calc(14);
      }
    }
    ul.children {
      list-style: none;
      margin: rem-calc(15) 0 0 0;

      li {
        border-left: rem-calc(2) solid $blue;
        padding-bottom: rem-calc(20);
        padding-left: rem-calc(10);

        &:last-child {
          padding-bottom: 0;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    a.comment-reply-link {
      display: block;
      font-weight: 700;
      font-size: rem-calc(14);
    }
  }
}
section#respond {
  background: $ltgray;
  margin: rem-calc(32) 0 0 0;
  padding: rem-calc(15);

  p:last-of-type {
    margin: 0;
  }
  form#commentform {

    input[type="text"], textarea {
      border: rem-calc(1) solid $blue;
      border-radius: rem-calc(3);
      box-shadow: none;
      min-height: rem-calc(45);
    }
    input.button {
      font-size: rem-calc(16);
      padding: rem-calc(10);
    }
    label {
      font-weight: 700;
    }
  }
}
