* {
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  hyphens: none !important;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"],
textarea,
select,
button {
  -webkit-appearance: none !important;
  -moz-apperance: none !important;
}
a[href^=tel] {
  text-decoration: none;
  -webkit-appearance: none !important;
  -moz-apperance: none !important;
}
a {
  font-family: $fontstack;
}
p, li, span, time {
  font-family: $fontstack;
}
.pipe-separator {
  display: inline-block;
  font-size: 125%;
  line-height: rem-calc(25);
  margin: 0 rem-calc(6);
}
button.menu-icon {
  align-items: space-between;
  background: none;
  color: $blue;
  display: flex;
  flex-wrap: wrap;
  font-size: rem-calc(10);
  height: rem-calc(34);
  letter-spacing: -.01rem;
  // line-height: 4.25;
  // margin-top: rem-calc(-10);
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left;
  text-transform: lowercase;
  width: rem-calc(36);

  &:before, &:after {
    display: none !important;
  }
  span.menu-icon-bar {
    background: $blue;
    border-radius: rem-calc(8);
    height: rem-calc(4);
    margin-bottom: rem-calc(3);
    opacity: 1;
    width: 100%;
    @include transition(all);
  }
  span.keep-together {
    line-height: 1;

    i {
      // bottom: 0 !important;
      color: $blue;
      display: inline;
      font-size: rem-calc(11);
      line-height: 0.7;
      position: relative;
      right: 0;
      top: rem-calc(1);
    }
  }
  &.active {

    span.menu-icon-bar {
      background: $red;
    }
    span.menu-icon-bar-1 {
      transform: rotate(45deg);
    }
    span.menu-icon-bar-2 {
      opacity: 0;
    }
    span.menu-icon-bar-3 {
      margin-top: rem-calc(-14);
      transform: rotate(-45deg);
    }
    span.keep-together {
      margin-top: rem-calc(5);
    }
  }
  &:hover, &:focus {

    span.menu-icon-bar {
      background: $red;
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $fontstack;
  font-weight: 700;
  line-height: 1.1;
  text-align: left;

  &.aligncenter {
    text-align: center;
  }
  &.alignleft {
    text-align: left;
  }
  &.alignright {
    text-align: right;
  }
}
h2, h2 span {
  font-size: $h2;
}
h3, h3 span {
  font-size: $h3;
}
h4, h4 span {
  font-size: $h4;
}
h5, h5 span {
  font-size: $h5;
}
h6, h6 span {
  font-size: $h6;
}
.alignright, .alignleft, .aligncenter, .alignnone {
  @media #{$break600} {
    float: none;
    margin: 0 0 rem-calc(20) 0;
    padding: 0;
    width: 100%;
  }
}
figure {

  &.alignright, &.alignleft, &.aligncenter, &.alignnone {

    img {
      @media #{$break600} {
        height: auto;
        width: 100%;
      }
    }
  }
}
.section-heading {
  float: none !important;

  span.section-heading-inner {
    display: inline-block;
    line-height: 1.1;
    margin-bottom: rem-calc(20) !important;
    padding-bottom: rem-calc(10) !important;
    position: relative;

    &:after {
      background: $blue;
      bottom: 0;
      content: '';
      display: block;
      height: rem-calc(3);
      left: 0;
      max-width: rem-calc(150);
      position: absolute;
      width: 100%;
    }
  }
  &.aligncenter {

    span.section-heading-inner {

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &.alignright {

    span.section-heading-inner {

      &:after {
        left: 100%;
        transform: translateX(-100%);
      }
    }
  }
}
span.sub-title {
  display: block;
  font-size: 65%;
  margin: 0.625rem 0;
}
.pl15 {
  padding-left: rem-calc(15) !important;
}
.pr15 {
  padding-right: rem-calc(15) !important;
}
.mt15 {
  margin-top: rem-calc(15) !important;
}
.mb15 {
  margin-bottom: rem-calc(15) !important;
}
.vcard abbr {
  border: 0 !important;
  text-decoration: none !important;
  cursor: text !important;
}
.vcard .type {
  display: none;
}
.off-canvas-content #masthead {
  margin: 0 auto;
  //padding: 0 0.9375rem;
}
ul.pagination {
  display: inline-block;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;

    span.current {

    }
    a {

    }
  }
}

/* Foundation 6 Tabs Styles */
.tabs {
  border: 0;
  overflow: hidden;

  .tabs-title {
    margin-right: rem-calc(4);
    @media #{$break767} {
      //border-top: rem-calc(1) solid $blue;
      margin-right: 0;
      width: 100%;
    }

    a {
      background: $blue;
      border: rem-calc(1) solid $blue;
      bottom: rem-calc(-1);
      color: $white;
      font-size: rem-calc(16);
      font-weight: 700;
      padding: rem-calc(12) rem-calc(15);
      position: relative;
      text-decoration: none !important;
      @include transition(padding);
      @media #{$break767} {
        border-top: 0;
        border-bottom: rem-calc(1) solid $ltgray;
        box-shadow: 0 rem-calc(-2) rem-calc(7) #001e61;
      }
    }
    &.is-active {

      a {
        background: $red;
        border-bottom: rem-calc(1) solid $ltgray;
        color: $white;
        // padding: rem-calc(17) rem-calc(15);
      }
      &:first-child {

        a {
          @media #{$break767} {
            border-top: rem-calc(1) solid $blue;
          }
        }
      }
      &:last-child {

        a {
          @media #{$break767} {
            border-bottom: rem-calc(1) solid $blue;
          }
        }
      }
    }
  }
}
.tabs-content {
  background: $ltgray;
  border-top: rem-calc(1) solid $blue;
}

.off-canvas-content #footer-container {
  max-width: none;
  margin: 0 auto;
  padding: 0;
}
.hide-for-now {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  speak: none;
  left: -9999px;
}
.the-tags {
  display: inline-block;
  width: 100%;
  margin: 2.5rem 0;
  text-align: left;

  a {
    display: inline-block;
    margin-bottom: 0.3125rem;
  }
}
.keep-together {
  display: inline-block !important;
}
body.modal-active {
  overflow: hidden;
}
form#searchform {
  border: rem-calc(1) solid $blue;
  border-radius: rem-calc(3);
  overflow: hidden;
  position: relative;

  &:after {
    color: $white;
    content: '\f002';
    cursor: pointer;
    display: block;
    font-family: "Font Awesome 5 Pro", 'fontawesome';
    font-size: rem-calc(18);
    font-weight: 900;
    pointer-events: none;
    position: absolute;
    right: rem-calc(8);
    top: rem-calc(5);
  }
  .input-group {
    border-radius: rem-calc(3);
    margin: 0;

    .input-group-field {
      border: 0;
      box-shadow: none;
      line-height: rem-calc(36);
      max-width: none;
      padding: 0 rem-calc(10);
    }
  }
  input#searchsubmit {
    background: $blue !important;
    text-indent: -9999px;
    min-width: rem-calc(36);
    padding: 0;
    @include transition(all);

    &:hover, &:focus {
      background: $black !important;
    }
  }
}
.bs-btn, .gform_footer input.gform_button, #respond .button {
  background: $white;
  border: rem-calc(2) solid $blue;
  border-radius: rem-calc(100);
  color: $blue;
  display: inline-block;
  font-size: rem-calc(18);
  font-weight: 700 !important;
  line-height: 1 !important;
  padding: rem-calc(10) rem-calc(15);
  text-decoration: none !important;
  text-transform: uppercase;
  @include transition(all);
}
.bs-btn.bs-btn-white {
  background: $white;
  border: rem-calc(2) solid $white;
}
.bs-btn.bs-btn-white:hover,
.bs-btn.bs-btn-white:focus {
  background: $black;
  border: rem-calc(2) solid $black;
  color: $white;
}
.bs-btn.bs-btn-red,
.gform_footer input.gform_button,
#respond .button {
  background: $red;
  border: rem-calc(2) solid $red;
  color: $white !important;
}
.bs-btn.bs-btn-red:hover,
.bs-btn.bs-btn-red:focus,
.gform_footer input.gform_button:hover,
.gform_footer input.gform_button:focus,
#respond .button:hover,
#respond .button:focus {
  background: $black;
  border: rem-calc(2) solid $black;
  color: $white !important;
}
.bs-btn.bs-btn-blue {
  background: $blue !important;
  border: rem-calc(2) solid $blue !important;
  color: $white !important;
}
.bs-btn.bs-btn-blue:hover,
.bs-btn.bs-btn-blue:focus {
  background: $black !important;
  border: rem-calc(2) solid $black !important;
  color: $white !important;
}
.bs-btn.bs-btn-clear {
  background: none !important;
  border: rem-calc(2) solid $white !important;
  color: $black !important;
}
.bs-btn.bs-btn-clear:hover,
.bs-btn.bs-btn-clear:focus {
  background: $black !important;
  border: rem-calc(2) solid $black !important;
  color: $white !important;
}
.bs-btn.bs-btn-black {
  background: $black;
  border: rem-calc(2) solid $black;
  color: $white;
}
.bs-btn.bs-btn-black:hover,
.bs-btn.bs-btn-black:focus {
  background: $white;
  border: rem-calc(2) solid $black;
  color: $black;
}
.bs-btn:hover,
.bs-btn:focus,
.gform_footer input.gform_button:hover,
.gform_footer input.gform_button:focus,
#respond .button:hover,
#respond .button:focus {
  background: $black;
  border: rem-calc(2) solid $black;
  color: $white;
}
.bs-btns-wrapper {
  text-align: left;
  width: 100%;
  @media #{$break600} {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bs-btn {
    display: inline-block;
    margin: 0 rem-calc(10) rem-calc(10) 0 ;

    @media #{$break600} {
      margin: rem-calc(10) rem-calc(5) 0;
      text-align: center;
      width: auto;
    }
  }
}
img.lazyload {
  min-height: rem-calc(200);
  width: 100%;
}
img.lazyloaded {
  opacity: 1;
}
.max-width-sixteen-hundred {
  max-width: rem-calc(1600) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-twelve-hundred {
  width: 100%;
  max-width: rem-calc(1200);
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-eleven-seventy {
  width: 100%;
  max-width: rem-calc(1170);
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-nine-seventy {
  max-width: rem-calc(970) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-eight-thirty {
  max-width: rem-calc(830) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-eight-hundred {
  max-width: rem-calc(800) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.entry-content {
  // overflow: hidden;

  h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-bottom: rem-calc(5);
  }
  h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 1rem;
  }
  figure.wp-caption {

    figcaption.wp-caption-text {
      font-size: rem-calc(14);
      font-style: italic;
      padding: rem-calc(4);
    }
  }
  ul.row {
    margin-left: 1.25rem;
  }
  ul.row li.columns {
    padding-left: 0;
  }
  ul.row .column:last-child:not(:first-child),
  ul.row .columns:last-child:not(:first-child),
  ol.row .column:last-child:not(:first-child),
  ol.row .columns:last-child:not(:first-child) {
    float: left;
  }
  p + ul, p + ol {
    margin-top: rem-calc(-15);
  }
}
.readable-line-length {
  max-width: rem-calc(800);
  margin: 0 auto;
}
.text-align-center, .text-align-center * {
  text-align: center;
}
.readable-line-length.text-align-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}

@media #{$break639} {
  html .main-wrap .main-content,
  html .main-wrap .sidebar {
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
  }
}
#copyright {
  padding: rem-calc(10) rem-calc(15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media #{$break1024} {
    flex-direction: column;
  }

  p {
    margin-bottom: 0;
  }
  ul.social-media-wrapper {
    list-style: none;
    margin: 0;
    text-align: right;

    @media #{$break1024} {
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      font-size: rem-calc(20);
      height: rem-calc(36);
      line-height: rem-calc(36);
      width: rem-calc(36);
    }
  }
  @media #{$break1024} {
    .small-12.medium-12.large-7 {
      margin-bottom: rem-calc(10);

      p {
        text-align: center;
      }
    }
  }
}
#back-top {
  position: fixed;
  bottom: rem-calc(15);
  right: 0;
  z-index: 100;

  a {
    color: $white;
    display: inline-block;
    height: rem-calc(40);
    line-height: rem-calc(40);
    opacity: .75;
    text-align: center;
    width: rem-calc(45);
    @include transition(all);

    &:hover, &:focus {
      opacity: 1;
    }
  }
  &.backtop-right {
    left: auto;
    right: 0;

    a {
      border-radius: rem-calc(4) 0 0 rem-calc(4);
    }
  }
  &.backtop-left {
    left: 0;
    right: auto;

    a {
      border-radius: 0 rem-calc(4) rem-calc(4) 0;
    }
  }
  &.backtop-center {
    bottom: 0;
    left: 50%;
    right: auto;
    transform: translateX(-50%);

    a {
      border-radius: rem-calc(4) rem-calc(4) 0 0;
      height: rem-calc(30);
      line-height: rem-calc(30);
    }
  }
}
