header#masthead.header-option-three {

  .top-bar {

    .top-bar-top {

      .alt-nav-wrapper {
        order: 1;

        .menu {
          justify-content: center;
        }
      }
    }
    .top-bar-left {
      order: 2;
      position: relative;
      width: 100%;

      .desktop-menu {
        background: none;
        order: 3;
      }
      .top-bar-title {
        margin: 0;
      }
    }
    .top-bar-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      order: 1;
      margin-bottom: rem-calc(15);
      position: relative;
      width: 100%;

      .top-bar-social {

        ul.social-media-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          @media #{$break1024} {
            text-align: center;
          }
          li {

            &.telephone {
              text-align: center;
            }
          }
        }
      }
    }
  }
  nav.top-bar.has-search {

    ul.desktop-menu {
      width: calc(100% - 4rem);
      margin-right: rem-calc(60);
    }
  }
  nav.top-bar {

    .logo-wrapper .custom-logo-link {
      padding-bottom: 0 !important;
    }
    .alt-nav-wrapper {

      .alt-nav-my-cart {
        margin-top: 0;
      }
    }
    .above-menu-search-wrapper {
      margin-bottom: rem-calc(10);

      form#searchform {
        margin: 0 auto !important;
        position: relative;
      }
    }
    .menu-search-wrapper {
      bottom: 0;
      height: rem-calc(36);
      position: absolute;
      right: 0;
      width: rem-calc(36);

      button {
        font-size: rem-calc(20);
        height: rem-calc(36);
        line-height: rem-calc(36);
        text-align: right;
        width: rem-calc(36);
        @include transition(all);
      }
      form#searchform {

        @media #{$break1024} {
          left: auto;
          right: 0;
        }
        &.show {
          margin: 0;

          @media #{$break1024} {
            margin: rem-calc(8) 0 0 0;
          }
        }
        &:after {
          display: none;
        }
      }
    }
    .inline-social-search-wrapper {

      button {
        text-align: center;
      }
      form#searchform {

        &:after {
          display: block !important;
        }
      }
    }
  }
}

@media #{$break1024} {
  header#masthead.header-option-three {
    display: block;

    .logo-wrapper {
      text-align: center;
    }
    .logo-wrapper img {
      display: block;
      margin: 0 auto;
    }
    .top-bar .top-bar-title a {
      display: inline-block;
      padding: 0;
    }
    .top-bar .top-bar-right .alt-nav-wrapper {
      width: 100%;

      ul.menu {
        justify-content: center;
        margin: 0.625rem 0;
      }
    }
    .top-bar .top-bar-right > .dropdown.menu.desktop-menu {
      margin-right: auto;
      padding: 0;
      width: calc(100% - 3rem);
    }
  }
}

@media #{$break640} {
  header#masthead.header-option-three {
    padding: 0 !important;

    .logo-wrapper.hide-for-small-only {
      display: none !important;
    }
    .top-bar {
      padding: 0 !important;
    }
    .top-bar-social {
      display: none;
    }
    .menu-search-wrapper {
      display: none;
    }
  }
}
