.title-bar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title-bar-title {

    a.custom-logo-link {
      width: 100%;
      max-width: rem-calc(250);
      display: inline-block;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
body:not(.topbar) nav.site-navigation {
  @media #{$break640} {
    display: none !important;
  }
}
body.topbar header:not(.header-option-one) nav.site-navigation {

  .top-bar-right, .top-bar-top, .top-bar-bottom .menu-search-wrapper {
    @media #{$break640} {
      display: none !important;
    }
  }
}
body.topbar header#masthead.header-option-three nav.site-navigation {

  .menu-search-wrapper {
    @media #{$break640} {
      display: none !important;
    }
  }
}
body.topbar nav#mobile-menu ul {
  background: none;
}
nav.off-canvas {

  a.custom-logo-link {
    display: inline-block;
    width: 100%;
    padding: 0 1rem;

    img.custom-logo {
      display: block;
      margin: rem-calc(10) auto;
      width: 100%;
      height: auto;
    }
  }
  & .menu:not(.nested) > li > a {
    font-size: rem-calc(18) !important;
    font-weight: 700;
  }
  .menu.nested {
    margin-left: 0;

    & > li > a {
      padding-left: rem-calc(30) !important;
      white-space: normal;
    }
  }
  .submenu-toggle {
    color: $white;
    height: rem-calc(40.38);
    &:after {
      border-top-color: $white;
    }
  }
  & > ul.menu {
    padding: 0;

    li.current_page_parent {

      a {
        background: $red;
        color: $white;

      }
    }
  }
  ul.menu.alt-menu {
    flex-direction: column;
  }
  & > .menu > li.is-active > a,
  .submenu li.is-active a {
    color: $white;
    &:hover, &:focus {
      color: $white;
    }
  }
  ul.social-media-wrapper {
    margin: rem-calc(20) 0 rem-calc(20) 0;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
      width: 2.25rem;
      height: 2.25rem;
      margin-left: 0;
      text-align: center;
      position: relative;
      z-index: 99;
      font-size: 1.5rem;
    }
    li.inline-social-search-wrapper {
      font-size: 1.25rem;
    }
    li:not(.custom-button):after {
      width: 2.25rem;
      height: 2.25rem;
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: 100%;
      opacity: 0;
      transform: scale(0);
      transition: all 250ms ease-out;
    }
    li.inline-social-search-wrapper {
      width: auto;
    }
    li a {
      display: block;
    }
    li.custom-button {
      width: auto;
      display: block;
      max-width: calc(100% - 2rem);
      margin: rem-calc(15) auto rem-calc(15);
    }
    li.custom-button {

      a {
        align-items: center;
        font-family: $fontstack;
        font-size: rem-calc(15) !important;
        font-weight: 700;
        padding: 0 rem-calc(10);
        position: relative;
        text-transform: uppercase;
        width: 100%;
        @include transition(all);

        @media #{$break1024} {
          font-size: 1.125rem !important;
        }
      }
    }
    li.custom-button.top-bar-my-cart {

      i {
        display: inline;
        font-size: rem-calc(18);
        margin-right: rem-calc(2);
      }
      span.cart-contents {
        background: $white;
        border-radius: 100%;
        color: $blue;
        display: inline-block;
        line-height: rem-calc(20);
        height: rem-calc(20);
        margin: 0 0 0 rem-calc(5);
        min-width: rem-calc(20);
      }
    }
    li.menu-search-wrapper {
      display: none;
    }
  }
  form#searchform {
    position: absolute;
    right: 0;
    position: relative;
    max-width: calc(100% - 2rem);
    width: 100%;
    text-align: right;
    border: 1px solid $blue;
    border-radius: rem-calc(3);
    background: $white;
    margin: 0;
    @media #{$break1024} {
      margin: 0 auto;
    }

    &:after {
      position: absolute;
      content: '\f002';
      font-family: fontawesome !important;
      width: rem-calc(34);
      height: rem-calc(34);
      line-height: rem-calc(34);
      text-align: center;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    input#searchsubmit {
      text-indent: -9999px;
      margin: 0;
      width: rem-calc(34);
      height: rem-calc(34);
      background: none;
    }
    input#s {
      max-width: none;
      border: 0;
      box-shadow: none;
      padding: 0 rem-calc(10) !important;
      line-height: rem-calc(34);
      height: rem-calc(34);
      background: none;
    }
    .input-group {
      margin: 0;
    }
  }
}

body.topbar nav#mobile-menu {
  width: 100%;
  padding: 0.625rem;
}
body.topbar header#masthead .top-bar nav#mobile-menu .menu > li > a {
  padding: 0.625rem 0 !important;
}
