#preloader {
  align-items: center;
  background: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;

  .preloader-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  img {
    display: block;
    height: auto;
    width: rem-calc(400);

    @media #{$break640} {
      width: rem-calc(200);
    }
  }
  .letter-holder {
    display: inline-block;
    padding: 1rem;
  }
  .letter {
    color: $blue;
    float: left;
    font-family: $fontstack;
    font-size: rem-calc(25);
    font-weight: 700;
    text-transform: uppercase;
  }
  .animate-loading {
    // position: absolute;
    // left: 50%;
    // top: 40%;
    // transform: translateY(-50%) translateX(-50%);
  }
  .animate-loading .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
  }
  .l-1 { animation-delay: .48s; }
  .l-2 { animation-delay: .6s; }
  .l-3 { animation-delay: .72s; }
  .l-4 { animation-delay: .84s; }
  .l-5 { animation-delay: .96s; }
  .l-6 { animation-delay: 1.08s; }
  .l-7 { animation-delay: 1.2s; }
  .l-8 { animation-delay: 1.32s; }
  .l-9 { animation-delay: 1.44s; }
  .l-10 { animation-delay: 1.56s; }

  @keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
.admin-bar #preloader img {
  margin-top: rem-calc(16);

  @media only screen and (max-width: 782px) {
    margin-top: rem-calc(23);
  }
}
