aside.sidebar {
  background: $ltgray;
  padding: rem-calc(25);
  // @media #{$break951} {
  //   width: 12.5rem !important;
  // }
  @media #{$break767} {
    order: 2 !important;
    width: calc(100% - 1.875rem) !important;
  }
  &.portfolio-sidebar {
    background: none;
    padding: 0;

    img.wp-post-image {
      margin-bottom: 0;
    }
  }
  .widget {
    margin-bottom: rem-calc(30);

    &:last-of-type {
      margin-bottom: 0;
    }
    h6 {
      //display: none;
      border-bottom: rem-calc(2) solid $blue;
      font-size: rem-calc(18) !important;
      margin-bottom: rem-calc(10);
      padding-bottom: rem-calc(10);
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      margin: 0;

      & > li {
        margin-bottom: rem-calc(10);
        position: relative;
      }
      & > li > a {
        color: $green;
        display: inline-block;
        font-size: rem-calc(18) !important;
        font-weight: 700;
        vertical-align: middle;
      }
      & > li:last-child > a {
        margin-bottom: 0;
      }
    }
  }
  li.recentcomments {
    align-items: flex-end;
    display: inline-flex;
    flex-wrap: wrap;

    span.comment-author-link {
      display: inline-block;
      line-height: 1.8;
      margin-right: rem-calc(4);
    }
    a {
      margin-left: rem-calc(4);
    }
  }
}
