@media only screen and (min-width: 39.9375rem) {
  #masthead {
    will-change: top;
  }
  // Header Option One
  body.sticky-prep #masthead.sticky-header {
    opacity: 0;
    position: fixed;
    width: 100%;
    top: -100%;
    transition: top .5s ease-out
  }
  body.admin-bar.sticky-prep #masthead.sticky-header {
    opacity: 0;
    top: -100%;
    transition: top .5s ease-out;
  }
  body.sticky-header.sticky-prep #masthead.sticky-header {
    opacity: 1;
    top: 0;
  }
  body.admin-bar.sticky-header.sticky-prep #masthead.sticky-header {
    opacity: 1;
    top: 32px;
  }
}
